Repository ValeevGroup/tiledarray: changes, and which pre-commit hooks are due for each by the changed paths.
All: dependency-version-update, clang-format

dependency-version-update:
  name: Updates versions of dependencies
  language: system
  entry: bin/admin/dependency-versions-update-hook.py

clang-format:
  name: Format C/C++ code using clang-format.
  language: system
  entry: bin/admin/clang-format.sh
  args:
  - --style=file -i

tests/conversions: fence only the per-rank sub-world (the fixture already fences the global world; with one rank the sub-world is the global world)
  tests/conversions.cpp
Due: clang-format

Review cleanups: correct the ComplexNegTag claim, drop the redundant factor cast
  src/TiledArray/expressions/cont_engine.h
  src/TiledArray/tensor/arena_tensor.h
  src/TiledArray/tile_op/batched_contract_reduce.h
  src/TiledArray/tile_op/contract_reduce.h
Due: clang-format

tests: conj() on BTAS nested cells, the third supported inner-tile family
  tests/tot_expressions.cpp
Due: clang-format

ContractReduce: fall back to value-returning conj when a tile has no conj_to
  src/TiledArray/tile_op/contract_reduce.h
  src/TiledArray/tile_op/tile_interface.h
  tests/tile_op_contract_reduce.cpp
Due: clang-format

ContractReduce: document the conj overload set the finalization requires
  src/TiledArray/tile_op/contract_reduce.h
Due: clang-format

arena strided kernels: a measured cell stride must fit the BLAS integer
  src/TiledArray/tensor/arena_einsum.h
Due: clang-format

cmake: forward TA_ASSERT_POLICY to BTAS built from source
  INSTALL.md
  cmake/modules/FindOrFetchBTAS.cmake
Due: none

bump BTAS tag to 52aadfe54ee48874f6926da5932482e0f5cef85c (BTAS_ASSERT_POLICY)
  external/versions.cmake
Due: dependency-version-update

cmake: forward TA_ASSERT_POLICY to BTAS as BTAS_ASSERT_POLICY
  cmake/modules/FindOrFetchBTAS.cmake
Due: none

INSTALL.md: TA_ASSERT_POLICY is forwarded to BTAS as BTAS_ASSERT_POLICY
  INSTALL.md
Due: none

cmake: re-derive BTAS_ASSERT_POLICY on reconfigure unless the user set it
  cmake/modules/FindOrFetchBTAS.cmake
Due: none

cmake: TA_BTAS_ASSERT_POLICY_FOLLOWS_TA is the unambiguous opt-out of BTAS policy forwarding
  INSTALL.md
  cmake/modules/FindOrFetchBTAS.cmake
Due: none

cmake: record the acknowledged BTAS_ASSERT_POLICY after BTAS is configured
  cmake/modules/FindOrFetchBTAS.cmake
Due: none

cmake: seed BTAS_ASSERT_POLICY once from TA_ASSERT_POLICY, like any cached option
  INSTALL.md
  cmake/modules/FindOrFetchBTAS.cmake
Due: none

cont_engine: evaluate a zero-volume general product through a tile-less evaluator
  src/TiledArray/expressions/cont_engine.h
Due: clang-format

measured leading dimensions: bound the addressed span, and bound it everywhere
  src/TiledArray/math/blas.h
  src/TiledArray/tensor/arena_einsum.h
  src/TiledArray/tensor/tensor.h
Due: clang-format

dist_eval: move ZeroVolumeEvalImpl into its own header
  src/CMakeLists.txt
  src/TiledArray/dist_eval/zero_volume_eval.h
  src/TiledArray/expressions/cont_engine.h
Due: clang-format

tests/general_product: cover the zero-volume general product
  tests/general_product.cpp
Due: clang-format

tests: cover the measured-leading-dimension guard
  tests/arena_strided_gemm.cpp
  tests/math_blas.cpp
Due: clang-format

review: hoist the ld bound out of the segment loops; build the blas unit test
  src/TiledArray/math/blas.h
  src/TiledArray/tensor/arena_einsum.h
  tests/CMakeLists.txt
  tests/arena_strided_gemm.cpp
Due: clang-format

docs: remove CLAUDE.md
  AGENTS.md
  CLAUDE.md
Due: none

tests: use BOOST_{CHECK,REQUIRE}_TA_ASSERT for checks that expect a TA_ASSERT
  tests/bipartite_index_list.cpp
  tests/block_range.cpp
  tests/dist_array.cpp
  tests/dist_op_group.cpp
  tests/distributed_storage.cpp
  tests/eigen.cpp
  tests/expressions_impl.h
  tests/index_list.cpp
  tests/initializer_list.cpp
  tests/range.cpp
  tests/tensor.cpp
  tests/tot_dist_array_part1.cpp
  tests/tot_dist_array_part2.cpp
  tests/unit_test_config.h.in
Due: clang-format

tile: assert non-null in Tile::tensor(), add Tile unit tests
  src/TiledArray/tile.h
  tests/CMakeLists.txt
  tests/tile.cpp
Due: clang-format

Path conditions:
  dependency-version-update: any of: versions\.cmake$
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
