Repository ValeevGroup/tiledarray: changes, and which pre-commit hooks are due for each by the changed paths.
All: dependency-version-update, clang-format

dependency-version-update:
  name: Updates versions of dependencies
  language: system
  entry: bin/admin/dependency-versions-update-hook.py

clang-format:
  name: Format C/C++ code using clang-format.
  language: system
  entry: bin/admin/clang-format.sh
  args:
  - --style=file -i

Revert btas tag
  external/versions.cmake
Due: dependency-version-update

Bump btas tag
  external/versions.cmake
Due: dependency-version-update

bump btas tag
  external/versions.cmake
Due: dependency-version-update

Make a new CP ALS which takes the THC format
  src/TiledArray/math/solvers/cp.h
  src/TiledArray/math/solvers/cp/cp.h
  src/TiledArray/math/solvers/cp/cp_als.h
  src/TiledArray/math/solvers/cp/cp_thc_als.h
Due: clang-format

Bump MADNESS tag
  external/versions.cmake
Due: dependency-version-update

Create a way to set the CP factor matrices of thc based CP
  src/TiledArray/math/solvers/cp/cp_thc_als.h
Due: clang-format

TA-python: fix range slice
  python/src/TiledArray/python/range.h
Due: clang-format

Update THC based solver to work with unsymmetric tensors
  src/TiledArray/math/solvers/cp/cp_thc_als.h
Due: clang-format

Update CP to not force lambda into one of the factors
  src/TiledArray/math/solvers/cp/cp.h
Due: clang-format

Return the correct error
  src/TiledArray/math/solvers/cp/cp.h
Due: clang-format

bump MAD tag to pull in https://github.com/m-a-d-n-e-s-s/madness/pull/586
  INSTALL.md
  external/versions.cmake
Due: dependency-version-update

einsum hotfix: pre-fence before entering blocking region, should not be needed if have at least 2 threads to compute with (per rank) but some compute patterns cause deadlock
  src/TiledArray/einsum/tiledarray.h
Due: clang-format

bump MAD tag to pull in cleanup commit https://github.com/m-a-d-n-e-s-s/madness/commit/3208474a1dec9a08b8ca7185ca5c168795385372 (only affects Pthreads backend)
  INSTALL.md
  external/versions.cmake
Due: dependency-version-update

bump MAD tag to pull in cleanup commit https://github.com/m-a-d-n-e-s-s/madness/commit/51c70885f368fcbdaac3db462b5e8d28eed4dbf7 that fixed usability of PaRSEC backend
  INSTALL.md
  external/versions.cmake
Due: dependency-version-update

Fix issues wrt MPICH
  cmake/modules/FindOrFetchMADWorld.cmake
  python/src/TiledArray/python/module.h
Due: clang-format

Update FindOrFetchMADWorld.cmake
  cmake/modules/FindOrFetchMADWorld.cmake
Due: none

move one make_array variant from dist_array.h to conversions/make_array.h
  src/TiledArray/conversions/make_array.h
  src/TiledArray/dist_array.h
  src/TiledArray/einsum/tiledarray.h
Due: clang-format

reverts the key part of https://github.com/ValeevGroup/tiledarray/pull/504, namely removal of the fence on entry to einsum that was introduced in https://github.com/ValeevGroup/tiledarray/pull/500
  src/TiledArray/einsum/tiledarray.h
Due: clang-format

Bump madness version
  external/versions.cmake
Due: dependency-version-update

Disambiguate DistArray(DistArray,Op) and DistArray(DistArray,TiledRange,[value]) ctors
  src/TiledArray/dist_array.h
Due: clang-format

Shape::is_zero can accept a std::initializer_list
  src/TiledArray/dense_shape.h
  src/TiledArray/sparse_shape.h
Due: clang-format

more fixes for {add,subt}(ToT,ToT) for the null element case
  src/TiledArray/tensor/tensor.h
Due: clang-format

more null-element fixes for Array<ToT> ops
  src/TiledArray/tensor/kernels.h
  src/TiledArray/tensor/tensor.h
Due: clang-format

yet more null-element fixes for Array<ToT> ops
  src/TiledArray/tensor/operators.h
  src/TiledArray/tensor/tensor.h
  tests/sparse_tile.h
Due: clang-format

fix btas tag
  external/versions.cmake
Due: dependency-version-update

Add a tests for the new CP solver
  tests/cp.cpp
Due: clang-format

fixup clone_or_cast to handle non-range tensors, this should fix the sparse tile unit tests
  src/TiledArray/tensor/tensor.h
  tests/sparse_tile.h
Due: clang-format

bump BTAS tag to pull in https://github.com/ValeevGroup/BTAS/pull/183
  INSTALL.md
  external/versions.cmake
Due: dependency-version-update

amend clone_or_cast to avoid static_assert(false)
  src/TiledArray/tensor/tensor.h
Due: clang-format

support for non-char characters in printing
  src/TiledArray/array_impl.h
  src/TiledArray/bitset.h
  src/TiledArray/dense_shape.h
  src/TiledArray/dist_array.h
  src/TiledArray/expressions/expr_trace.h
  src/TiledArray/expressions/index_list.h
  src/TiledArray/permutation.h
  src/TiledArray/range.h
  src/TiledArray/range1.h
  src/TiledArray/size_array.h
  src/TiledArray/sparse_shape.h
  src/TiledArray/symm/permutation.h
  src/TiledArray/symm/permutation_group.h
  src/TiledArray/tensor.h
  src/TiledArray/tensor/complex.h
  src/TiledArray/tile.h
  src/TiledArray/tiled_range.h
  src/TiledArray/tiled_range1.h
  src/TiledArray/util/logger.h
  src/TiledArray/util/vector.h
  src/TiledArray/utility.h
  src/TiledArray/val_array.h
Due: clang-format

Tensor printing structured like curly numpy
  src/CMakeLists.txt
  src/TiledArray/tensor.h
  src/TiledArray/tensor/print.cpp
  src/TiledArray/tensor/print.h
  src/TiledArray/tensor/print.ipp
  src/TiledArray/tensor/tensor.h
  src/TiledArray/type_traits.h
  tests/tensor.cpp
  tests/tensor_of_tensor.cpp
Due: clang-format

can't test printing to wcout since boost does not redirect it
  tests/tensor_of_tensor.cpp
Due: clang-format

support for printing Array<ToT> with nbatch>1
  src/TiledArray/tensor.h
Due: clang-format

revert https://github.com/ValeevGroup/tiledarray/commit/c9cc69ffa0958d5d188c704d7941730c7d58cd85
  src/TiledArray/tensor/tensor.h
Due: clang-format

[cmake] reorg to restore .h/.cpp separation
  src/CMakeLists.txt
Due: none

introduced to_string(Range) to help with debugging if debugger does not know how to show boost::small_vector
  src/CMakeLists.txt
  src/TiledArray/range.cpp
  src/TiledArray/range.h
Due: clang-format

[unit] tensor_suite/anatomy tests size of Tensor
  tests/tensor.cpp
Due: clang-format

Tensor<T,Allocator>: Allocator must be default constructible
  src/TiledArray/tensor/tensor.h
Due: clang-format

Tensor<T>::clone: optimize for rvalues
  src/TiledArray/tensor/tensor.h
  tests/tensor.cpp
Due: clang-format

Path conditions:
  dependency-version-update: any of: versions\.cmake$
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
