Repository ValeevGroup/tiledarray: changes, and which pre-commit hooks are due for each by the changed paths.
All: dependency-version-update, clang-format

dependency-version-update:
  name: Updates versions of dependencies
  language: system
  entry: bin/admin/dependency-versions-update-hook.py

clang-format:
  name: Format C/C++ code using clang-format.
  language: system
  entry: bin/admin/clang-format.sh
  args:
  - --style=file -i

amends bf984deedfe064c311b473f8d05514b37c413fb5 to reenable device test building when CUDA is available
  examples/device/CMakeLists.txt
Due: none

if defined, pass CMAKE_INTERPROCEDURAL_OPTIMIZATION to librett/umpire
  external/librett.cmake
  external/umpire.cmake
Due: none

if defined, pass CMAKE_INTERPROCEDURAL_OPTIMIZATION_${CMAKE_BUILD_TYPE} to librett/umpire
  external/librett.cmake
  external/umpire.cmake
Due: none

missing #include in einsum/tiledarray.h
  src/TiledArray/einsum/tiledarray.h
Due: clang-format

[cmake] "namespace" ENABLE_{CUDA,HIP,SCALAPACK,WFN91_LINALG_DISCOVERY_KIT} CMake variables by renaming to TA_{CUDA,HIP,SCALAPACK,LINALG_DISCOVERY_KIT}
  .gitlab-ci.yml
  CMakeLists.txt
  INSTALL.md
  bin/docker-cuda-build.sh
  ci/.build-project
  ci/README.md
  ci/docker-run-ci
  cmake/toolchains/README.md
  external/eigen.cmake
  external/librett.cmake
  external/umpire.cmake
Due: none

few more ENABLE_SCALAPACK -> TA_SCALAPACK instances
  .github/workflows/ci.yml
  .gitlab-ci.yml
  examples/scalapack/CMakeLists.txt
  src/TiledArray/initialize.h
Due: clang-format

added column pivoted QR solve to `math::linalg::non_distributed`
  src/TiledArray/math/linalg/non-distributed/qr.h
  src/TiledArray/math/linalg/rank-local.cpp
  src/TiledArray/math/linalg/rank-local.h
Due: clang-format

Use default world instead of provided world
  src/TiledArray/math/solvers/cp/cp_thc_als.h
Due: clang-format

broadcast A matrix in qr solve
  src/TiledArray/math/linalg/non-distributed/qr.h
Due: clang-format

unittest for qr_solve
  tests/linalg.cpp
Due: clang-format

override MAD repo and tag by setting TA_TRACKED_MADNESS_{URL,TAG} CACHE variables
  cmake/modules/FindOrFetchMADWorld.cmake
  external/versions.cmake
Due: dependency-version-update

try using local copy of GH:madness repo to speed up FetchContent checkouts
  .gitlab-ci.yml
Due: none

[skip ci] bump version to 1.1.0 in CMakeLists.txt + update CHANGES
  CHANGES
  CMakeLists.txt
Due: none

[ci] bump to ubuntu 24
  .gitlab-ci.yml
Due: none

[unit] {TensorFixture,TensorUMFixture}::r member initialization must occur in the ctor to ensure that GlobalFixture::world is already initialized
  tests/tensor.cpp
  tests/tensor_fixture.h
  tests/tensor_um.cpp
Due: clang-format

linalg test: test TA::heig by reconstruction, and eigenvalues against non_dist::heig
  tests/linalg.cpp
Due: clang-format

lingalg tests: test TA::*, not TA::non_dist::*
  tests/linalg.cpp
Due: clang-format

feat: Implement printing of near-zero floats as zero
  src/TiledArray/tensor/print.ipp
Due: none

Factor out the number rounding logic for the array printer
  src/TiledArray/tensor/print.ipp
Due: none

NDArrayPrinter::FloatTruncate: rename + refactor
  src/TiledArray/tensor/print.h
  src/TiledArray/tensor/print.ipp
Due: clang-format

[cmake] Sync MADNESS and VGCMakeKit versions with MPQC
  INSTALL.md
  external/versions.cmake
Due: dependency-version-update

[unit] fix retile_suite/retile_more
  tests/retile.cpp
Due: clang-format

factored out umpire CMake harness and allocator adaptor to ValeevGroup/umpire-cxx-allocator
  CMakeLists.txt
  INSTALL.md
  README.md
  cmake/modules/FindOrFetchUmpireCXXAllocator.cmake
  cmake/tiledarray-config.cmake.in
  examples/device/device_task.cpp
  external/cuda.cmake
  external/hip.cmake
  external/umpire.cmake
  external/versions.cmake
  src/CMakeLists.txt
  src/TiledArray/external/device.h
  src/TiledArray/external/umpire.h
  src/TiledArray/fwd.h
  src/TiledArray/host/env.cpp
  src/TiledArray/host/env.h
  src/TiledArray/tensor/tensor.h
  src/TiledArray/util/vector.h
Due: dependency-version-update, clang-format

Bump btas tag
  external/versions.cmake
Due: dependency-version-update

Fix warning about missing return value
  src/TiledArray/device/cpu_cuda_vector.h
Due: clang-format

Format
  src/TiledArray/math/solvers/cp/cp_thc_als.h
Due: clang-format

format
  src/TiledArray/math/solvers/cp/cp.h
Due: clang-format

format
  src/TiledArray/math/solvers/cp/cp_als.h
Due: clang-format

bump umpire-cxx-allocator tag to resolve the rpath issues on macos when using executables from build tree (https://github.com/ValeevGroup/umpire-cxx-allocator/pull/1)
  external/versions.cmake
Due: dependency-version-update

set LINK_OPTIONS for TiledArray_LIBRETT to be able to run executables linking against the SHARED version of it from the build tree
  external/librett.cmake
Due: none

fixups
  cmake/modules/FindOrFetchUmpire.cmake
  external/librett.cmake
Due: none

docs: fix a bunch of typos
  src/TiledArray/tensor/tensor.h
Due: clang-format

fwd: try introducing a TA::Tensor with UM allocator [skip ci]
  src/TiledArray/fwd.h
Due: clang-format

fwd: TA::UMTensorType -> TA::UMTensor
  src/TiledArray/device/btas_um_tensor.h
  src/TiledArray/fwd.h
  tests/expressions_device_um.cpp
Due: clang-format

device: support operations on device for UMTensor
  src/TiledArray/device/um_tensor.h
Due: clang-format

device: move tile type independent array functions to a new file
  src/CMakeLists.txt
  src/TiledArray/device/btas_um_tensor.h
  src/TiledArray/device/device_array_ops.h
  src/TiledArray/device/um_tensor.h
Due: clang-format

UMTensor: implement serialization in TA::Tensor style
  src/TiledArray/device/um_tensor.h
Due: clang-format

unit: rename btas um tensor tests
  tests/CMakeLists.txt
  tests/btas_tensor_um.cpp
Due: clang-format

UMTensor: try serialization implementation BTASUMTensor style
  src/TiledArray/device/um_tensor.h
Due: clang-format

unit: introduce UMTensor tests
  tests/CMakeLists.txt
  tests/tensor_um.cpp
Due: clang-format

Path conditions:
  dependency-version-update: any of: versions\.cmake$
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
