Repository ValeevGroup/tiledarray: changes, and which pre-commit hooks are due for each by the changed paths.
All: dependency-version-update, clang-format

dependency-version-update:
  name: Updates versions of dependencies
  language: system
  entry: bin/admin/dependency-versions-update-hook.py

clang-format:
  name: Format C/C++ code using clang-format.
  language: system
  entry: bin/admin/clang-format.sh
  args:
  - --style=file -i

refactor: preserve_lobound uses all_of to detect zero extents
  src/TiledArray/expressions/blk_tsr_expr.h
Due: clang-format

Eigen version moved in 5.x.x, find version for both 3.x.x and 5.x.x
  cmake/modules/FindEigen3.cmake
Due: none

Do assertions before constructing
  tests/sparse_tile.h
Due: clang-format

Do not check if data is empty in TensorInterface
  src/TiledArray/tensor/tensor_interface.h
Due: clang-format

[cmake] sync w/ https://github.com/ValeevGroup/BTAS/pull/186
  external/versions.cmake
Due: dependency-version-update

[cmake] sync with https://github.com/llnl/Umpire/pull/1033 to be able to use w/ C++20
  CMakeLists.txt
  external/versions.cmake
Due: dependency-version-update

DistArray::fill(0) produces an empty array if sparse (not array full of tiles with zeroes)
  src/TiledArray/dist_array.h
  tests/dist_array.cpp
Due: clang-format

[skip ci] dox update
  doc/dox/dev/Basic-Programming.md
  src/TiledArray/dist_array.h
Due: clang-format

ConjugateGradientSolver works with Eigen types
  src/TiledArray/math/linalg/basic.h
  src/TiledArray/math/solvers/conjgrad.h
  src/TiledArray/math/solvers/diis.h
  src/TiledArray/tile_interface/clone.h
  src/TiledArray/tile_op/tile_interface.h
  tests/solvers.cpp
Due: clang-format

foreach_inplace(A,B) needs to fence on entry and exit
  src/TiledArray/conversions/foreach.h
Due: clang-format

SparseShape: assert tile norms are finite
  src/TiledArray/sparse_shape.h
Due: clang-format

SparseShape: clamp non-finite norms from float overflow in shape arithmetic
  src/TiledArray/sparse_shape.h
Due: clang-format

SparseShape: support empty tiles
  src/TiledArray/sparse_shape.h
Due: clang-format

sync w/ umpire-cxx-allocator
  external/versions.cmake
Due: dependency-version-update

DistArray::truncate: null-friendly
  src/TiledArray/dist_array.h
Due: clang-format

einsum: parallelize hadamard-reduction outer h-tile loop
  src/TiledArray/einsum/tiledarray.h
Due: clang-format

[skip ci] introduce AGENTS.md
  AGENTS.md
  CLAUDE.md
  external/versions.cmake
Due: dependency-version-update

arena: add allocator + plan helper + tests
  src/TiledArray/tensor/arena.h
  tests/CMakeLists.txt
  tests/arena.cpp
Due: clang-format

arena_kernels: add ToT kernels + tests
  src/TiledArray/tensor/arena_kernels.h
  tests/CMakeLists.txt
  tests/arena_kernels.cpp
Due: clang-format

arena_einsum: regime-A (outer-Hadamard) plans + dispatch + tests
  src/TiledArray/tensor/arena_einsum.h
  src/TiledArray/tensor/arena_kernels.h
  tests/CMakeLists.txt
  tests/arena_einsum_unit_suite.cpp
Due: clang-format

tensor: route ToT trivial ops through arena kernels + tests
  src/TiledArray/tensor/tensor.h
  tests/CMakeLists.txt
  tests/arena_tot_trivial.cpp
Due: clang-format

cont_engine: thread arena plan + zero-overhead sizeof gate
  src/TiledArray/expressions/cont_engine.h
  src/TiledArray/tile_op/contract_reduce.h
  tests/CMakeLists.txt
  tests/arena_sizeof_invariant_suite.cpp
Due: clang-format

einsum + tests/cases: hook regime-A arena into einsum + add hec_* case binaries
  src/TiledArray/einsum/tiledarray.h
  tests/CMakeLists.txt
  tests/cases/CMakeLists.txt
  tests/cases/case_4d_e.cpp
  tests/cases/case_common.h
  tests/cases/case_hec_e.cpp
  tests/cases/case_hec_ec.cpp
  tests/cases/case_hec_h.cpp
  tests/cases/case_hec_scale.cpp
Due: clang-format

review fixes: portable sizeof gate, explicit plan-move, alignment intent
  src/TiledArray/expressions/cont_engine.h
  src/TiledArray/tensor/arena_kernels.h
  tests/arena_sizeof_invariant_suite.cpp
Due: clang-format

build: opt-in -Werror on TA's own translation units (TA_WERROR)
  CMakeLists.txt
  cmake/modules/AddTAExecutable.cmake
  cmake/modules/FindOrFetchMADWorld.cmake
  cmake/modules/FindOrFetchRangeV3.cmake
  cmake/modules/TiledArrayWarnings.cmake
  examples/scalapack/CMakeLists.txt
  external/versions.cmake
  src/CMakeLists.txt
Due: dependency-version-update

fix: silence warnings surfaced by -Werror
  src/TiledArray/array_impl.h
  src/TiledArray/einsum/string.h
  src/TiledArray/expressions/binary_engine.h
  src/TiledArray/expressions/blk_tsr_expr.h
  src/TiledArray/expressions/cont_engine.h
  src/TiledArray/tensor/kernels.h
  tests/btas.cpp
  tests/dist_array.cpp
  tests/tot_dist_array_part2.cpp
Due: clang-format

build: bump MADNESS pin to pick up future.h C++20 deprecation suppression
  external/versions.cmake
Due: dependency-version-update

ci: enable TA_WERROR=ON
  .github/workflows/ci.yml
  .gitlab-ci.yml
Due: none

build: mark BTAS as SYSTEM include
  cmake/modules/FindOrFetchBTAS.cmake
Due: none

docs: document TA_WERROR in INSTALL.md
  INSTALL.md
Due: none

fix: guard flatten_il against empty ranges to silence gcc -Wnonnull
  src/TiledArray/util/initializer_list.h
Due: clang-format

device: scaffold UMTensor type + is_device_tile specialization
  src/CMakeLists.txt
  src/TiledArray/device/tensor.cpp
  src/TiledArray/device/tensor.h
  src/TiledArray/fwd.h
Due: clang-format

device: tier-1 tile-op overloads for UMTensor
  src/TiledArray/device/tensor.cpp
  src/TiledArray/device/tensor.h
Due: clang-format

device: add permute / shift / mult + perm-variants for UMTensor
  src/TiledArray/device/tensor.cpp
  src/TiledArray/device/tensor.h
Due: clang-format

device: fix in-place op dispatch + correct scale semantics, add expression tests
  src/TiledArray/device/tensor.h
  tests/CMakeLists.txt
  tests/expressions_device_tensor.cpp
Due: clang-format

device: expand UMTensor expression tests (in-place ops, blocks, einsum, contraction variants)
  tests/expressions_device_tensor.cpp
Due: clang-format

device: add UMTensor archive support + array-level helpers
  src/TiledArray/device/tensor.h
  tests/expressions_device_tensor.cpp
Due: clang-format

device: explicit instantiations of UMTensor for standard numeric types
  src/TiledArray/device/tensor.cpp
  src/TiledArray/device/tensor.h
Due: clang-format

device: add UMTensor dense + vector example programs
  examples/device/CMakeLists.txt
  examples/device/ta_dense_um_tensor.cpp
  examples/device/ta_vector_um_tensor.cpp
Due: clang-format

device: drop redundant compile_test_tier1 instantiation probe
  src/TiledArray/device/tensor.cpp
Due: clang-format

Path conditions:
  dependency-version-update: any of: versions\.cmake$
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
